<form id="travel-pace" autocomplete="off" onsubmit="event.preventDefault();">
    <div id="travelpace-config">
        <label for="jspeed">{{localize "TravelPace.Dialog.PreviewSpeed"}}</label>
        <input type="number" id="jspeed" name="jspeed" value="30" /><br />
        <label for="jmilesonroad">{{localize "TravelPace.Dialog.PreviewOnroad"}}</label>
        <input type="number" id="jmilesonroad" name="jmilesonroad" value="10" /><br />
        <label for="jmilesoffroad">{{localize "TravelPace.Dialog.PreviewOffroad"}}</label>
        <input type="number" id="jmilesoffroad" name="jmilesoffroad" value="10" /><br />
    </div>
    <div id="travelpace-preview">
        <h2>{{localize "TravelPace.Dialog.PreviewTime"}}</h2>
        <p><strong>{{localize "TravelPace.PaceNormal"}} </strong><span id="march-normal" class="pw-march">{{pwNormal}}</span></p>
        <p><strong>{{localize "TravelPace.PaceSlow"}} </strong><span id="march-slow" class="pw-march">{{pwSlow}}</span><em> {{localize "TravelPace.Dialog.SlowEffects"}}</em></p>
        <p><strong>{{localize "TravelPace.PaceFast"}} </strong><span id="march-fast" class="pw-march">{{pwQuick}}</span><em> {{localize "TravelPace.Dialog.FastEffects"}}</em></p>
    </div>
    <div>
        <h2>{{localize "TravelPace.Dialog.ForcedMarch"}}</h2>
        <p>{{localize "TravelPace.Dialog.ForcedMarchAlert"}}</p>
        <p>{{localize "TravelPace.Dialog.ForcedMarchAlertAdd"}}</p>
    </div>
    <div class="travelpace-buttom">
        <input type="hidden" id="pace" name="pace" value="" />
        <button type="submit" class="travelpace-slow-buttom" name="submit" value="Slow"><i class="fas fa-angle-double-right"></i>{{localize "TravelPace.PaceSlow"}}</button>
        <button type="submit" class="travelpace-normal-buttom" name="submit" value="Normal"><i class="fa fa-play"></i>{{localize "TravelPace.PaceNormal"}}</button>
        <button type="submit" class="travelpace-fast-buttom" name="submit" value="Fast"><i class="fa fa-forward"></i>{{localize "TravelPace.PaceFast"}}</button>
    </div>
</form>
